<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.am10.spanishwords">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpanishWords">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8666562449597082~3588120902"/>
        <activity android:name="com.am10.spanishwords.WordListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.am10.spanishwords.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.am10.spanishwords.FlashCardActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.am10.spanishwords.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>